@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;900&family=Inter:wght@400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    min-height: 100vh;
    padding: 2.4rem;
    background-color: var(--main-background-color);
}

@media screen and (min-width: 768px) {
    body {
        padding: 5.8rem 3.9rem;
    }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 73.7rem;
    margin: 0 auto;
}


/*******************
     VARIABLES
********************/
:root {
    /* COLORS */
        --very-dark-black: #050505;
        --dark-black: #1f1f1f;
        --black: #2d2d2d;
        --light-black: #3a3a3a;

        --dark-gray: #757575;
        --grey: #e9e9e9;
        --light-grey: #f4f4f4;
        --white: #ffffff;

        --purple: rgb(164, 69, 237);
        --red: #ff5252;

    /* TYPOGRAPHY */
        /* Fonts */
        --sans-serif: 'Inter', sans-serif;
        --serif: 'Lora', serif;
        --mono: 'Inconsolata', monospace;

    /* Main Background Color */
        --main-background-color: #fff;

    /* Font Family */
        --font-family: 'Inter', sans-serif;

    /* Text Color */
        --text-color: #2d2d2d;

    /* Moon Icon Color */
        --moon-icon: #757575;

    /* Theme Toggler Background */
        --theme-toggler-background: #757575;

    /* Drop Down */
        --dropdown-bg: #fff;
        --dropdown-shadow: rgba(0, 0, 0, 0.1);

    /* SearchBar */
        --searchbar-bg: #f4f4f4;
}

/* THEME TOGGLE */
:root:has(#dark:checked) {
    --main-background-color: #050505;

    /* Text Color */
    --text-color: #fff;

    /* Moon Icon Color */
    --moon-icon: #a445ed;

    /* Theme Toggler Background */
    --theme-toggler-background: #a445ed;

    
    /* Drop Down */
    --dropdown-bg: #1f1f1f;
    --dropdown-shadow: rgba(164,69,237,0.5);
}

/* FALLBACK FOR NO :HAS() SUPPORT */
.dark {
    /* Background Color */
    --main-background-color: #050505;

    /* Text Color */
    --text-color: #fff;

    /* Moon Icon Color */
    --moon-icon: #a445ed;

    /* Theme Toggler Background */
    --theme-toggler-background: #a445ed;

    /* Drop Down */
    --dropdown-bg: #1f1f1f;
    --dropdown-shadow: rgba(164,69,237,0.5);

    /* SearchBar */
        --searchbar-bg: #1f1f1f;
}



/* Font Toggle */
.sans-serif {
    --font-family: 'Inter', sans-serif;
}

.serif {
    --font-family: 'Lora', serif;
}

.mono {
    --font-family: 'Inconsolata', monospace;
}


/*******************
        NAV
********************/
.nav {
    display: flex;
    justify-content: space-between;
}

/* Nav Icon */
.nav__icon {
    display: inline-block;
}
.nav__icon > svg {
    height: 3.2rem;
    width: 2.805rem;
}

/* Font Selector */
.nav__actions {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.nav__actions-font-selector {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--text-color);
    padding-right: 1.5rem;
    height: 100%;
    border-right: 1px solid var(--grey);
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
}

.nav__actions-font-selector::after {
    content: url(./assets/icon-arrow-down.svg);
    margin-left: 1.3rem;
    position: relative;
    bottom: 0.1rem;
}

/* DropDown */
.nav__actions-dropdown {
    background-color: var(--dropdown-bg);
    border-radius: 16px;
    bottom: -17rem;
    box-shadow: 0px 0px 25px 5px var(--dropdown-shadow);
    color: var(--text-color);
    display: none;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 1rem;
    height: 15.2rem;
    justify-content: space-evenly;
    left: -8rem;
    list-style-type: none;
    opacity: 0;
    padding: 2.4rem;
    position: absolute;
    width: 18.3rem;
}

.nav__actions-dropdown.active {
    display: flex;
    opacity: 1;
}

.nav__actions-dropdown :nth-child(1) {
    font-family: var(--sans-serif);
}

.nav__actions-dropdown :nth-child(2) {
    font-family: var(--serif);
}

.nav__actions-dropdown :nth-child(3) {
    font-family: var(--mono);
}

.nav__actions-dropdown li:hover {
    color: var(--purple);
}




/* Theme toggler */
.theme-switcher-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

/* Moon Icon */
.theme-switcher-wrapper > svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--moon-icon);
}

.theme-switcher-wrapper > svg > path {
    stroke: var(--moon-icon);
}

.toggler-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Toggler Background */
.theme-switcher > fieldset {
    border: 0;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-toggler-background);
    border-radius: 30px;
    margin-inline: auto;
    position: relative;
    padding: 0 0.3rem;
}

.theme-switcher > fieldset:hover {
    background-color: var(--purple);
}



/* Radio Buttons */
.theme-switcher input[type='radio'] {
    color: transparent;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--Radio-color, currentColor);
}

.theme-switcher input[type='radio']#light:checked {
    --Radio-color: var(--white);
}

.theme-switcher input[type='radio']#dark:checked {
    --Radio-color: var(--white);
}

/* Screen Reader only class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }



@media screen and (min-width: 768px) {
    .nav__icon > svg {
        width: 3.2rem;
        height: 3.65rem;
    }

    .nav__actions-font-selector {
        font-size: 1.8rem;
        padding-right: 2.6rem;
    }

    .nav__actions-font-selector::after {
        bottom: 0.2rem;
        margin-left: 1.5rem;
    }

    .nav__actions-dropdown {
        left: -5.5rem
    }

    .theme-switcher-wrapper {
        gap: 2rem;
        padding-left: 1rem;
    }
}




/*******************
    SEARCHBAR
********************/
.searchbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--searchbar-bg);
    border-radius: 1.8rem;
    margin-top: 2.2rem;
}

.searchbar__input {
    border: none;
    padding: 1.5rem 0 1.5rem 2.4rem;
    color: var(--text-color);
    background-color: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    outline: none;
}

.searchbar__btn {
    padding: 0 2.5rem 0 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.searchbar__btn > svg {
    transform: scale(1.15);
}

@media screen and (min-width: 768px) {
    .searchbar {
        margin-top: 5.1rem;
    }
    .searchbar__input {
        padding: 2.2rem 0 2.2rem 2.4rem;
        font-size: 2rem;
    }
}